# Common
fastapi

# For Lingo AI
openai-whisper
ollama
gradio
load_dotenv
openai
uvicorn
pytest
pytest-asyncio
httpx
langchain
langchain-openai
langchain-core
#logging
#logging-conf
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
python-dotenv
whisper-timestamped

silero-vad
fastapi_versionizer

# For Conversation Analysis
pypdf2==3.0.1    
python-docx==1.1.2    
langchain-community==0.2.19   
langchain-text-splitters==0.2.4
torch
huggingface_hub<0.24
numpy<2
wget
nemo_toolkit[asr]==2.0.0rc0
nltk
psycopg2
python-multipart
git+https://github.com/SYSTRAN/faster-whisper.git #Reaplce with 'faster-whisper==VERSION' once a new version with BatchedInferencePipeline is deployed to PYPI
git+https://github.com/MahmoudAshraf97/ctc-forced-aligner.git

docx==0.2.4
google-auth 
google-auth-oauthlib 
google-auth-httplib2 
google-api-python-client

#silero-vad==5.1.2
#auditok
fastapi_versionizer
openpyxl==3.1.5
