openai-whisper
ollama
gradio
load_dotenv
openai
fastapi
uvicorn
pytest
pytest-asyncio
httpx
langchain
langchain-openai
langchain-core
#logging
#logging-conf
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
python-dotenv
whisper-timestamped
silero-vad
fastapi_versionizer