# Common
fastapi

# For Lingo AI
openai-whisper
ollama
gradio
load_dotenv
openai
uvicorn
pytest
pytest-asyncio
httpx
langchain
langchain-openai
langchain-core
#logging
#logging-conf
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
python-dotenv

# For Conversation Analysis
torch
huggingface_hub<0.24
numpy<2
wget
nemo_toolkit[asr]==2.0.0rc0
nltk
git+https://github.com/SYSTRAN/faster-whisper.git #Reaplce with 'faster-whisper==VERSION' once a new version with BatchedInferencePipeline is deployed to PYPI
git+https://github.com/MahmoudAshraf97/ctc-forced-aligner.git