OPENAI_API_KEY="your-openai-api-key-here"
#MODEL_ID = "large"
MODEL_ID="base"
#MODEL_ID = "large-v3-turbo"
MODEL_PATH="whisper_model"
GCP_API_KEY="your-gcp-api-key-here"
SERVICE_ACCOUNT_FILE="/path/to/your/service.json"
OLLAMA_HOST="http://localhost:11434"
OLLAMA_MODEL_NAME=llama3.2
ODOO_URL=https://your-odoo-instance.odoo.com
ODOO_DB=your-database-name
ODOO_USERNAME=your-username@example.com
ODOO_PASSWORD=your-password-here

# Banking API Configuration
BANK_API_BASE_URL=http://your-bank-api-url:8000
