.analysis-section-subtitle {
    padding-bottom: 8px;
    border-bottom: solid 2px;
}
.analysis-section-cause {
    border-color: #ffaa00;
}
.analysis-section-impact {
    border-color: #f97315;
}
.analysis-section-fix {
    border-color: #15b8a6;
}
.analysis-section li,
.analysis-section li,
.analysis-section li {
    margin-bottom: 12px;
}
.analysis-section-card  {
    word-break: break-word;
}
.analysis-container {
    margin-bottom: 0;
}

.analysis-section {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.analysis-section-card {
    margin-top: 0;
    margin-bottom: 0;
}

@media print {
    body {
      -webkit-print-color-adjust: exact;
    }
    .analysis-section-card {
      width: 100%;
      margin: 0;
      padding: 20px;
    }
  }  
